<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Coping Compass</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta property="og:title" content="Coping Compass" />
    <meta property="og:description" content="Navigating Towards a Healthier Mind" />
    <!-- <meta
      property="og:image"
      content="https://www.shutterstock.com/image-illustration/blue-open-suitcase-tools-solid-600nw-2033333936.jpg"
    /> -->
  </head>
  <body>
    <%- include("./partials/_navbar.ejs") %>

    <div class="home-page">
      <h1 class="home-title">Coping Compass</h1>
    </div>

    <!-- <p class="in-case-of-emergency">
      *If you are experiencing an emergency, please call 911 or go to the
      nearest emergency room
    </p> -->
  </body>
</html>
